@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

html {
    font-size: 14px;
}

body {
    font-family: 'Reggae One', sans-serif !important;
}

.kick_button {
    font-size: 70%; 
    float: right;
}

#button_leave {
    width: 100%;
}

.buzzer_list_item {
    border-radius: 10px !important; 
}

.buzzer_list_item_correct {
    border: 2px solid rgb(171, 202, 161) !important;
}

.buzzer_list_item_wrong {
    border: 2px solid rgb(219, 159, 159) !important;
}

.buzzer_list_item_wait {
    border: 2px solid rgb(212, 211, 137) !important;
}

.buzzer_list_item_stale {
    border: 2px solid #CCC !important;
}

#stopwatch {
    font-size:600% !important;
}

.noselect {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.vline {
  border-left: 2px solid #666;
  height: 100%;
  position: relative;
  left: 50%;
  margin-left: -1px;
  top: 0;
}

.stopwatch_button {
    width: 150%; 
    margin-left: -25% !important;
}

#buzzer { 
    width: 350px; 
    height: 350px; 
    border: 3px solid rgb(156, 39, 39) !important;
    border-radius: 100%; 
    font-size: 44px; 
    text-align: center; 
} 

#buzzer:disabled { 
    border: 3px solid rgb(1, 90, 27) !important;
} 

#btngrp_roundmode_change input {
    outline: none !important; 
    box-shadow: none;
}