.kick_button {
    font-size: 70%; 
    float: right;
}

.buzz_time_badge {
    font-size: 75%; 
}

#button_leave {
    width: 100%;
}

.buzzer_list_item {
    border-radius: 10px !important; 
}

.buzzer_list_item_correct {
    border: 2px solid rgb(171, 202, 161) !important;
}

.buzzer_list_item_wrong {
    border: 2px solid rgb(219, 159, 159) !important;
}

.buzzer_list_item_wait {
    border: 2px solid rgb(212, 211, 137) !important;
}

.buzzer_list_item_stale {
    border: 2px solid #CCC !important;
}

#stopwatch {
    font-size:400% !important;
}

