<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js"></script>

    <script src="{{url_for('static', filename='scripts.js')}}"></script>
    <script src="{{url_for('static', filename='stopwatch.js')}}"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        var name = "{{ hostname }}";

        // Connect / disconnect host
        window.onload = function () {
            socket.emit('game_hosted', { hostname: name });

            var new_ul = create_player_list([
                { "name": "Nico", "has_buzzed": false, "buzz_time": 0, "buzz_time_sw": null },
                { "name": "Marlon", "has_buzzed": true, "buzz_time": 35, "buzz_time_sw": "07.75 secs" },
                { "name": "Gordon", "has_buzzed": true, "buzz_time": 20, "buzz_time_sw": "04.12 secs" }
            ], "playerlist", false);
            document.getElementById("playerlist").replaceWith(new_ul);
        };

        window.onbeforeunload = function () {
            socket.emit('game_host_left');
        };

        // Game update
        socket.on('player_update', function (players) {
            var new_ul = create_player_list(players, "playerlist", true);
            document.getElementById("playerlist").replaceWith(new_ul);
        });

        socket.on('disconnect', function () {
            window.location.href = '/';
        });

        // Locals
        function host_start_stopwatch() {
            socket.emit('host_stopwatch_action', { action: 'start' });
            stopwatch_start();
        };

        function host_stop_stopwatch() {
            socket.emit('host_stopwatch_action', { action: 'stop' });
            stopwatch_stop();
        };

        function host_reset_stopwatch() {
            socket.emit('host_stopwatch_action', { action: 'reset' });
            stopwatch_reset();
        };

        function reset_buzzers() {
            socket.emit('host_buzzer_reset');
        };
    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row my-5">
            <div class="col-xl">
                <h1 class="text-center">Hosted Game as "{{ hostname }}"</h1>
            </div>
        </div>

        <div class="row"></div>

        <div class="row my-5">
            <div class="col-xl-7">
                <div class="row justify-content-center">
                    <div class="col-xl-5">
                        <div id="playerlist"></div>
                    </div>
                </div>

                <div class="row justify-content-center mt-4">
                    <div class="col-xl-2">
                        <button id="buzzer_reset" class="btn btn-primary btn-block" onclick="reset_buzzers()">Reset Buzzers</button>
                    </div>
                </div>
            </div>

            <div class="col-xl-1"></div>
            <div class="col-xl-3 mt-5">
                <div class="card">
                    <svg class="card-img-top">
                        <g>
                            <rect width="100%" height="100%" fill="lightgray" />
                            <text id="stopwatch" x="50%" y="50%" font-size="250%" dominant-baseline="middle"
                                text-anchor="middle">00:00:00</text>
                        </g>
                    </svg>
                    <div class="card-body">
                        <h5 class="card-title">Stopwatch</h5>
                        <p class="card-text">Stopwatch to get buzzer times</p>
                        <div class="row justify-content-center mt-4">
                            <div class="col-xl-4">
                                <button id="stopwatch_start" class="btn btn-secondary btn-block my-1" onclick="host_start_stopwatch()">Start</button>
                            </div>
                            <div class="col-xl-4">
                                <button id="stopwatch_stop" class="btn btn-secondary btn-block my-1" onclick="host_stop_stopwatch()">Stop</button>
                            </div>
                            <div class="col-xl-4">
                                <button id="stopwatch_reset" class="btn btn-secondary btn-block my-1" onclick="host_reset_stopwatch()">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
        </div>
    </div>

    <div class="row justify-content-center fixed-bottom mb-5">
        <div class="col-xl-2 mx-3">
            <button id="button_leave" class="btn btn-danger btn-block" onclick="window.location.href = '/'">Leave Game</button>
        </div>
    </div>


</body>

</html>