<!DOCTYPE html>
<html>

<head>
    <title>Buzzer.py - Hosted Game</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">

    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js"></script>

    <script src="{{url_for('static', filename='host_scripts.js')}}?"></script>
    <script src="{{url_for('static', filename='scripts.js')}}?"></script>
    <script src="{{url_for('static', filename='stopwatch.js')}}?"></script>
    <link href="{{url_for('static', filename='styles.css')}}?" rel="stylesheet"></link>

    <script src="../static/host_scripts.js"></script>
    <script src="../static/scripts.js"></script>
    <link href="../static/styles.css" rel="stylesheet">
    </link>

    <script type="text/javascript" charset="utf-8">
        var socket = io();
        var name = "{{ hostname }}";

        // Connect / disconnect host
        window.onload = function () {
            socket.emit('game_hosted', { hostname: name });
            host_change_roundmode_buzzer();
        };

        window.onbeforeunload = function () {
            socket.emit('game_host_left');
        };

        socket.on('disconnect', function () {
            window.location.href = '/';
        });

        // Game update
        socket.on('game_update', function (game, host_only) {
            var new_scoreboard = create_scoreboard(game.players, "scoreboard", true);
            document.getElementById("scoreboard").replaceWith(new_scoreboard);

            if (game.players.length > 0) {
                var new_dropdown = create_dropdown(game.players, 'player_dropdown');
                document.getElementById("player_dropdown").replaceWith(new_dropdown);
            }
            else {
                document.getElementById("player_dropdown").disabled = true;
            }

            // Scorebuttons
            var new_scorebuttons = create_scorebuttons(game.players, "scorebuttons");
            document.getElementById("scorebuttons").replaceWith(new_scorebuttons);

            // Carousel
            switch (game.round_mode) {
                case 0: // buzzing
                    var new_ul = create_player_list(game, "playerlist");
                    document.getElementById("playerlist").replaceWith(new_ul);
                    break;
                case 1: // guessing
                    var new_guess_overview_head = create_guess_overview_head(game.guessing_amount, "guess_overview_head");
                    document.getElementById("guess_overview_head").replaceWith(new_guess_overview_head);

                    var new_guess_overview = create_guess_overview(game.players, game.guessing_amount, "guess_overview");
                    document.getElementById("guess_overview").replaceWith(new_guess_overview);

                    document.getElementById("btn_guess_add_col").disabled = (game.round_in_progress || game.guessing_amount == 10);
                    document.getElementById("btn_guess_remove_col").disabled = (game.round_in_progress || game.guessing_amount == 1);
                    break;
                case 2: // stopwatch
                    var new_sw_overview = create_stopwatch_overview(game.players, "stopwatch_overview");
                    document.getElementById("stopwatch_overview").replaceWith(new_sw_overview);
                    break;
            }
            
            // Round mode change card
            if (game.round_in_progress) {
                $('#btngrp_roundmode_change input').attr('disabled', 'disabled');
                $('#btngrp_roundmode_change').attr('title', 'Finish the round to change mode');
            }
            else {
                $('#btngrp_roundmode_change input').removeAttr('disabled');
                $('#btngrp_roundmode_change').removeAttr('title');
            }
        });
</script>
</head>

<body class="bg-light">
    <div class="container-fluid">
        <div class="row mt-3 mb-5">
            <div class="col-xl">
                <h1 class="text-center">Hosted Game as <b>&raquo;{{ hostname }}&laquo;</b></h1>
            </div>
        </div>

        <div class="row mt-5">
            <!-- LEFT COLUMN / GAME -->
            <div class="col-xl-7 px-5 d-flex flex-column my-3">
                <!-- Container -->
                <div class="row">
                    <div id="carousel" class="carousel slide carousel-fade" data-bs-interval="false">
                        <!-- Buzzer -->
                        <div id="buzzer_container" class="carousel-item active">
                            <div class="card mb-5 mx-auto shadow">
                                <div class="card-body">
                                    <h2 class="card-title text-center mb-4 fw-bold">Buzzes</h2>
                                    <div class="row justify-content-center">
                                        <div class="col-7">
                                            <div id="playerlist"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Guesses -->
                        <div id="guessing_container" class="carousel-item">
                            <div class="card mb-5 shadow">
                                <div class="card-body">
                                    <h2 class="card-title text-center fw-bold mb-3">Guesses</h2>
                                    <div class="d-flex flex-row justify-content-end my-4">
                                        <div class="col-2 mx-2">
                                            <button id="btn_guess_add_col" class="btn btn-secondary btn-sm w-100" onclick="host_add_guess_column()">Add Column</button>
                                        </div>
                                        <div class="col-2 mx-2">
                                            <button id="btn_guess_remove_col" class="btn btn-secondary btn-sm w-100" onclick="host_remove_guess_column()">Remove Column</button>
                                        </div>
                                    </div>
                                    <table class="table card-text table-striped mt-4" style="table-layout: fixed;">
                                        <thead id="guess_overview_head">
                                            <tr>
                                                <th scope="col" style="width: 30%;">Name</th>
                                                <th scope="col">Guess</th>
                                            </tr>
                                        </thead>
                                        <tbody id="guess_overview">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Stopwatch -->
                        <div id="stopwatch_container" class="carousel-item">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h2 class="card-title text-center fw-bold mb-3">Stopwatch</h2>
                                    <div class="row">
                                        <span id="stopwatch" class="text-center text-dark mb-3 fw-bold font-monospace noselect">00:00:00</span>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <table class="table card-text table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="width: 35%;">Name</th>
                                                        <th scope="col">Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="stopwatch_overview">
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-2 d-flex align-items-center">
                                            <div class="row">
                                                <div class="col-6 mx-auto">
                                                    <button id="stopwatch_start" class="btn btn-secondary mb-2 stopwatch_button"
                                                        onclick="host_start_stopwatch()">Start</button>
                                                    <button id="stopwatch_stop" class="btn btn-secondary mb-2 stopwatch_button"
                                                        onclick="host_stop_stopwatch()">Stop</button>
                                                    <button id="stopwatch_reset" class="btn btn-secondary stopwatch_button"
                                                        onclick="host_reset_stopwatch()">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Score buttons -->
                <div class="row mt-auto">
                    <div class="card shadow mx-auto p-4">
                        <div id="scorebuttons"></div>
                    </div>
                </div>
            </div>
            
            <!-- SEPERATOR -->
            <div class="col-xl-1">
                <div class="vline"></div>
            </div>

            <!-- RIGHT COLUMN / SCOREBOARD + ROUNDMODE + NEXT ROUND -->
            <div class="col-xl-4 px-5 my-3">
                <!-- Scoreboard -->
                <div class="card mb-5 mx-auto shadow">
                    <div class="card-body">
                        <h4 class="card-title text-center fw-bold">Scoreboard</h4>
                        <table class="table card-text table-striped mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Correct answers">&check;</th>
                                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Wrong answers">&cross;</th>
                                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Bonus points">&starf;</th>
                                    <th scope="col">Total</th>
                                    <th scope="col" style='width:1%;'></th>
                                </tr>
                            </thead>
                            <tbody id="scoreboard">
                            </tbody>
                        </table>

                        <form id="form_bonus" action="javascript:void(0);">
                            <div class="row">
                                <div class="col-6">
                                    <select id="player_dropdown" class="form-select form-select-sm" required></select>
                                </div>
                                <div class="col-3">
                                    <div class="input-group input-group-sm">
                                        <input id="bonus_points" type="number" class="form-control" aria-label="Points"
                                            aria-describedby="inputGroup-sizing-sm" placeholder="0">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-secondary btn-sm w-100" onclick="host_bonus_points()">Add Points</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>        
                
                <!-- Next round -->
                <div class="card mb-5 mx-auto shadow">
                    <div class="card-body">
                        <h4 class="card-title text-center fw-bold">Next Round</h4>
                        <div class="row">
                            <div class="col-9 mx-auto">
                                <button class="btn btn-lg btn-primary w-100 mt-3" onclick="host_next_round()">Next Round</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Round mode change -->
                <div class="card mx-auto shadow">
                    <div class="card-body">
                        <h4 class="card-title text-center fw-bold">Change Round Mode</h4>

                        <div id="btngrp_roundmode_change" class="btn-group d-flex mt-4" role="group">
                            <input type="radio" class="btn-check" name="btnradio" id="radio_buzzer" autocomplete="off" checked onclick="host_change_roundmode_buzzer()">
                            <label class="btn btn-outline-secondary shadow-none" for="radio_buzzer">Buzzer Round</label>

                            <input type="radio" class="btn-check" name="btnradio" id="radio_guessing" autocomplete="off" onclick="host_change_roundmode_guessing()">
                            <label class="btn btn-outline-secondary shadow-none" for="radio_guessing">Guessing Round</label>

                            <input type="radio" class="btn-check" name="btnradio" id="radio_stopwatch" autocomplete="off" onclick="host_change_roundmode_stopwatch()">
                            <label class="btn btn-outline-secondary shadow-none" for="radio_stopwatch">Stopwatch Round</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-grid col-2 mx-auto mt-5">
        <button id="button_leave" class="btn btn-danger mt-4 mb-1" type="button" onclick="window.location.href = '/';">Leave Game</button>
    </div>
</body>

</html>