<!DOCTYPE html>
<html>

<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
</head>

<body>
    <p>Welcome!</p>
    
    <form action="">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="">

        <button type="submit" formaction="/join">Join</button>
        <button type="submit" formaction="/host">Host</button>
    </form>


    {% if errors %}
    <p style="background-color: red;">{{ errors }}</p>
    {% endif %}
</body>

</html>