<!DOCTYPE html>
<html>

<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
    <script src="{{url_for('static', filename='stopwatch.js')}}"></script>
    <script type="text/javascript" charset="utf-8">       
        var socket = io();
        var buzzer_clicked = false;

        // Register new player
        socket.on('connect', function () {
            socket.emit('join_game', { gameid: {{ gameid }}, playername: "{{ playername }}"});
        });

        // Game update
        socket.on('game_update', function (players) {
            var new_ul = create_player_list(players, "playerlist");
            document.getElementById("playerlist").replaceWith(new_ul);
        }); 

        socket.on('buzzer_reset', function () {
            buzzer_clicked = false;
        });

        socket.on('stopwatch_action', function (action) {
            switch (action) {
                case 'start': 
                    stopwatch_start();
                    break;
                case 'stop': 
                    stopwatch_stop();
                    break;
                case 'reset': 
                    stopwatch_reset();
                    break;
            };
        })

    </script>
</head>

<body>
    <p>Joined game {{ gameid }} as "{{ playername }}"</p>
    <svg height="200" width="200">
        <script type="text/javascript" charset="utf-8">
            

            function send_click() {
                if (!buzzer_clicked) {
                    var socket = io();
                    socket.emit('click_buzzer', { gameid: {{ gameid }}, playername: "{{ playername }}" });
                    // stopwatch_stop();
                    buzzer_clicked = true;
                };
            };
        </script>
        <circle onclick='send_click()' cx="100" cy="100" r="100" stroke="black" stroke-width="3" fill="red" />
    </svg>
    <ul id="playerlist"></ul>
    <div>
        <span id="stopwatch">00:00:00</span>
    </div>
</body>

</html>