<!DOCTYPE html>
<html>

<head>
    <title>Buzzer.py - Joined Game by {{ hostname }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">

    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js"></script>

    <script src="{{url_for('static', filename='scripts.js')}}?"></script>
    <script src="{{url_for('static', filename='stopwatch.js')}}?"></script>
    <link href="{{url_for('static', filename='styles.css')}}?" rel="stylesheet">
    </link>

    <script type="text/javascript" charset="utf-8">
        var socket = io();
        var name = "{{ playername }}";
        var closing_timer;
        var round_mode = 0;

        // Connect / disconnect
        window.onload = function () {
            socket.emit('game_joined', { playername: name }); 
            $('.carousel').carousel('pause');
        };

        window.onbeforeunload = function () {
            socket.emit('game_left', { playername: name });
        };

        socket.on('disconnect', function () {
            window.location.href = '/';
        });

        socket.on('player_kicked', function (kicked) {
            if (kicked == name)
                window.location.href = '/';
        });


        // Game update
        socket.on('game_update', function (game) {
            var new_scoreboard = create_scoreboard(game.players, "scoreboard", false);
            document.getElementById("scoreboard").replaceWith(new_scoreboard);

            round_mode = game.round_mode;    
            if (game.round_mode == 0) {
                var new_ul = create_player_list(game, "playerlist");
                document.getElementById("playerlist").replaceWith(new_ul);
            }
            $('.carousel').carousel(round_mode);
            $('.carousel').carousel('pause');
        });

        socket.on('host_update', function (host) {
            if (host === undefined) {
                var closing_counter = 30;
                closing_timer = setInterval(function () {
                    closing_counter--;
                    document.getElementById("hostname").innerText = `Your host has left, game will be closed in ${closing_counter}secs`;
                    if (closing_counter == 0) {
                        clearInterval(closing_timer);
                        window.location.href = '/';
                    }
                }, 1000);
            }
            else {
                clearInterval(closing_timer);
                document.getElementById("hostname").innerText = 'Hosted by "' + host.name + '"';
            }
        });

        // Game features
        socket.on('player_next_round', function () {
            document.getElementById("buzzer").disabled = false;
            document.getElementById("buzzer").classList.replace('btn-success', 'btn-danger');
            document.getElementById("buzzer").innerText = 'BUZZ';
            document.getElementById('input_guess').value = '';
            document.getElementById('input_guess').disabled = false;
            document.getElementById('btn_lock_guess').innerText = 'Lock In';
            document.getElementById('btn_lock_guess').disabled = false;
            document.getElementById('btn_stopwatch_stop').innerText = 'Stop'
            document.getElementById('btn_stopwatch_stop').disabled = false;
        });


        socket.on('stopwatch_action', function (action) {
            switch (action) {
                case 'start':
                    stopwatch_start();
                    break;
                case 'stop':
                    stopwatch_stop();
                    break;
                case 'reset':
                    stopwatch_reset();
                    break;
            };
        })

        // Locals
        function send_click() {
            if (!document.getElementById('buzzer').disabled) {
                socket.emit('player_buzzer_click', { playername: name });
                document.getElementById('buzzer').disabled = true;
                document.getElementById('buzzer').classList.replace('btn-danger', 'btn-success');
                document.getElementById('buzzer').innerText = 'BUZZED';
                document.getElementById('input_guess').disabled = true;
                document.getElementById('input_guess').value = '';
                document.getElementById('btn_lock_guess').disabled = true;
                document.getElementById('btn_lock_guess').innerText = 'Locked';
                document.getElementById('btn_stopwatch_stop').disabled = true;
                document.getElementById('btn_stopwatch_stop').innerText = 'Stopped';
            };
        };

        function lock_in_guess() {
            var guess = document.getElementById('input_guess').value;
            socket.emit('player_guess_lockin', { playername: name, guess: guess });
            document.getElementById('input_guess').disabled = true;
            document.getElementById('btn_lock_guess').disabled = true;
            document.getElementById('btn_lock_guess').innerText = 'Locked';
            document.getElementById('btn_stopwatch_stop').disabled = true;
            document.getElementById('btn_stopwatch_stop').innerText = 'Stopped';
        };

        function player_stopwatch_stop() {
            socket.emit('player_stopwatch_stop', { playername: name });
            document.getElementById('input_guess').disabled = true;
            document.getElementById('input_guess').value = '';
            document.getElementById('btn_lock_guess').disabled = true;
            document.getElementById('btn_lock_guess').innerText = 'Locked';
            document.getElementById('btn_stopwatch_stop').disabled = true;
            var time = document.getElementById('stopwatch').innerText;
            document.getElementById('btn_stopwatch_stop').innerText = 'Stopped at ' + time;
        }

        document.addEventListener('keydown', function (event) {
            if (event.keyCode == 32) { // Space
                switch (round_mode) {
                    case 0:
                        send_click();
                        break;
                    case 2:
                        player_stopwatch_stop();
                        break;
                }
            }
        });
    </script>
</head>

<body class="bg-light">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-xl">
                <h1 class="text-center">Joined Game as <b>&raquo;{{ playername }}&laquo;</b></h1>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-xl">
                <h3 class="text-center" id="hostname">Hosted by <b>&raquo;{{ hostname }}&laquo;</b></h3>
            </div>
        </div>

        <div class="row mt-5">
            <!-- LEFT COLUMN / GAME -->
            <div class="col-xl-7 px-5 d-flex flex-column my-3">
                <!-- Container -->
                <div class="row">
                    <div id="carousel" class="carousel slide carousel-fade" data-interval="false">
                        <!-- Buzzer -->
                        <div id="buzzer_container" class="carousel-item active">
                            <div class="card mx-auto shadow">
                                <div class="card-body">
                                    <h2 class="card-title text-center mb-5 fw-bold">Buzzer</h2>
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-5 d-flex align-items-center">
                                            <div id="playerlist"></div>
                                        </div>
                                        <div class="col-1"></div>
                                        <div class="col-5 text-center">
                                            <button type="button" id="buzzer" class="btn btn-danger shadow-none my-3" onclick="send_click()">BUZZ</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Guesses -->
                        <div id="guessing_container" class="carousel-item">
                            <div class="card mb-5 shadow">
                                <div class="card-body">
                                    <h2 class="card-title text-center fw-bold mb-5">Guess</h2>
                                    <form action="javascript:void(0);">
                                        <div class="col-8 mx-auto input-group-lg mb-3">
                                            <input id="input_guess" class="form-control text-center" autocomplete="off" placeholder="Your Guess"></input>
                                        </div>
                                        <div class="col-4 mx-auto">
                                            <button id="btn_lock_guess" type="submit" class="btn btn-secondary btn-lg w-100"
                                                onclick="lock_in_guess()">Lock In</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Stopwatch -->
                        <div id="stopwatch_container" class="carousel-item">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h2 class="card-title text-center fw-bold mb-3">Stopwatch</h2>
                                    <div class="row">
                                        <span id="stopwatch"
                                            class="text-center text-dark mb-3 fw-bold font-monospace noselect">00:00:00</span>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-5 mx-auto">
                                            <button id="btn_stopwatch_stop" class="btn btn-lg btn-primary w-100 mb-2" onclick="player_stopwatch_stop()">Stop</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SEPERATOR -->
            <div class="col-xl-1">
                <div class="vline"></div>
            </div>

            <!-- RIGHT COLUMN / SCOREBOARD + ROUNDMODE + NEXT ROUND -->
            <div class="col-xl-4 px-5 my-3">
                <!-- Scoreboard -->
                <div class="card mb-5 mx-auto shadow">
                    <div class="card-body">
                        <h4 class="card-title text-center fw-bold">Scoreboard</h4>
                        <table class="table card-text table-striped mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Correct answers">
                                        &check;</th>
                                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Wrong answers">
                                        &cross;</th>
                                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Bonus points">
                                        &starf;</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody id="scoreboard">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-2 mx-auto fixed-bottom my-5">
        <button id="button_leave" class="btn btn-danger" type="button" onclick="window.location.href = '/';">Leave
            Game</button>
    </div>
</body>

</html>